*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
nav {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 1rem;
  }
  
  nav li a:hover{
    color: #945c5c;
  }

  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  .container {
    max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #945c5c;
  }
  .service h2{
    color: #444;
    text-decoration: underline;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }

  form {
    margin-top: 2rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  textarea {
    height: 8rem;
  }
  
  button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #444;
  }

 .container ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .container li {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .echec{
    max-width: 800px;
  margin: 200px auto;
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  text-align: center;
  color: red;
  }

  .service{
    border-bottom: 1px solid #945c5c;
    padding: 20px 0;
  }